/* div{
    background-color: rgba(255, 0, 0, 0.557);
} */

body{
    background-color: #003a7d;
    font-family: Lora;
    color: #f4f4f4;
    display: flex;
    justify-content: left;
    gap: 3em;
}


/* Zoom-In & Out Styling for JS*/
#container {
    width: 532px;
    height: 700px;
    overflow: hidden;
    position: relative;
    margin: 2.5em;
}

#container div {
    position: absolute;
}

#container img {
    display: block;
    position: absolute;
    transition: all 3s ease;
}

#shadow{
    width: 360px;
    height: 180px;
    transform: rotate(-53deg);
    top: 390px;
    left: 100px;
}

#flyaways{
    width: 305px;
    height: 315px;
    top: 50px;
    left: 80px;
    z-index: 1;
}

#current{
    width: 124px;
    height: 268px;
    top: 105px;
    left: 325px;
    z-index: 2;
}

.start {
    width: 532px;
    left: 0;
    top: 0;
}

.shadow{
    width: 800px;
    top: -460px;
    left: -153px;
}

.flyaways{
    width: 900px;
    top: -90px;
    left: -120px;
}

.current{
    width: 990px;
    top: -140px;
    left: -440px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    /* background-color: rgba(79, 55, 165, 0.557); */
}