body{
    background-image: url(images/pin-board-pattern.jpg);
    font-family: Montserrat;
    color: #1f1f1f;
    max-width: 1200px;
    margin: auto;
}

h1, main > section > h2{
    font-family: Roboto Slab;
}



/* Header Styling */
#banner{
    background-color: #fff;
    background-image: url(images/lined-paper.png);
    max-width: 1100px;
    max-height: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    margin: auto;
    margin-top: 30px;
    box-shadow: -9px 10px 21px -4px rgba(0,0,0,0.35);
    
}

h1{
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 15px;
}

header{
    position: relative;
}

#header-note{
    background-color: #ff58c4;
    width: 200px;
    height: 90px;
    font-family: Caveat;
    font-size: 1.8em;
    /* text-align: center; */
    /* display: inline-block; */
    padding-top: 38px;
    position: absolute;
    right: 230px;
    top: 40px;
    transform: rotate(-25deg);
    box-shadow: -9px 10px 21px -4px rgba(0,0,0,0.35);
}

#header-note p{
    /* font-family: Caveat; */
    /* text-align: center; */    
    margin: 0;
    margin-left: 25px;
}

#header-note #sec-line{
    margin-left: 50px;
}

.type-ani {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 2.5s steps(30) forwards infinite;
    /* animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards; */
}

/* @keyframes typing {
    from { width: 0 }
    to { width: 100% }
} */

@keyframes typing {
    0%{width: 0;}
    60%{width: 100%;}
    100%{width: 100%;}
}

#header-note > .tack{
    position: absolute;
    top: -3px;
    left: 80px;
}

/*Main Styling*/
main{
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 55px;
}

main h2{
    text-decoration: underline;
    text-align: center;
    margin-top: 40px;
}

#gridpaper{
    background-color: #fff;
    background-image: url(images/dot-grid.png);
    width: 300px;
    height: 400px;
    padding: 20px;
    box-shadow: -9px 10px 21px -4px rgba(0,0,0,0.35);
    position: relative;
}

#gridpaper > .tack{
    position: absolute;
    top: -3px;
    left: 150px;
}

#card{
    background-color: #fff;
    width: 235px;
    height: 400px;
    padding: 16px;
    box-shadow: -9px 10px 21px -4px rgba(0,0,0,0.35);
    position: relative;
}

#card > .tack{
    position: absolute;
    top: -3px;
    left: 115px;
}

#postit{
    background-color: #ffef5f;
    width: 200px;
    height: 200px;
    padding: 16px;
    box-shadow: -9px 10px 21px -4px rgba(0,0,0,0.35);
    position: relative;
}

#postit >.tack{
    position: absolute;
    top: -3px;
    left: 100px;
}


.swinging{
    transform-origin: 50% 0;
}

.swinging:hover{
    animation: swinging 3.5s ease-in-out infinite;
}

@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

/* Unordered Lists Styling */
ul li a{
    display: block;
    text-decoration: none;
    color: #1f1f1f;
}

ul li a:hover{
    font-weight: 600;
    color: #df0000;
    font-size: 1.25em;
}



/* Footer Styling */
footer{
    background-color: #fff;
    background-image: url(images/lined-paper.png);
    max-width: 1000px;
    max-height: 200px;
    padding: 25px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: -9px 10px 21px -4px rgba(0,0,0,0.35);
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

footer > p{
    font-weight: 600;
    font-size: 1.2em;
    margin: 0;
    margin-top: 10px;
}