body{
    font-family: Barlow;
    background-color: #077a07;
    color: white;
}

h1, h2{
    font-family: Bigshot One;
    font-size: 4.25em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

h2{
    margin: 0;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.25em;
}

p{
    font-size: 1.25em;
}

#red{
    background-color: #e60000;
    border: solid 2px #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

#blue{
    background-color: #0404eb;
    border: solid 2px #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

input, label{
    font-family: Barlow;
    font-size: 1.5em;
}

input[type="text"]{
    padding: 10px;
    margin-left: 20px;
    border: none;
}

label{
    font-weight: 600;
    font-size: 2.25em;
}

table{
    font-family: Bigshot One;
    font-size: 3em;
    text-align: center;
    margin: 30px;
}

th{
    font-weight: 400;
    font-size: 32px;
}

td{
    border: solid 3px #ffffff;
    font-size: 3em;
    padding: 20px;
    width: 150px;
}

footer > a{
    color: #ffffff;
    font-weight: bold;
    margin: 2em;
    position: fixed;
    bottom: 0;
}

img{
    width: 130px;
}

.dealed{
    position: relative;
    margin: 0;
}

.back{
    position: absolute;
    top: 85px;
    left: 35px;
}

#corner{
    position: absolute;
    font-size: 3em;
    padding: 15px;
    top: 13px;
    left: 13px;
    margin: 0;
}

.redplayer{
    background-color: #e60000;
    border: solid 4px #ffffff;
    font-size: 2.25em;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 30px;
}

.blueplayer{
    background-color: #0404eb;
    border: solid 4px #ffffff;
    font-size: 2.25em;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 30px;
}

.buttons{
    margin-top: 42px;
    display: flex;
    justify-content: center;
}

#startgame, #homerules, #hit, #stand, #play1, #play2, #newmatch{
    font-weight: 600;
    font-size: 1.35em;
    color: black;
    margin: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffd500;
    border-radius: 12px;
}

#startgame, #homerules{
    display: block;
}

#play1, #play2{
    display: block;
    margin: auto;
    margin-top: 52px;
}

#quit, #rules{
    color: black;
    font-size: 1.25em;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
}

#game, #score, #actions, #gamecontrol{
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 25px;
}


/* RULES OVERLAY */
.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    z-index: 3;
}

#overlay article{
    background-color: #ffffff;
    color: black;
    border: solid 8px #ffd500;
    border-radius: 30px;
    margin: 0;
    padding: 32px;
    padding-left: 45px;
    padding-right: 45px;
    line-height: 1.5em;
    width: 250px;
    height: fit-content;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

#overlay article > h3{
    font-family: Bigshot One;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1em;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

#overlay article > p, ul li{
    font-size: 1em;
    line-height: 1.65em;
}

#overlay article > ul{
    margin-bottom: 25px;
}

#close{
    color: black;
    display: block;
    font-weight: 600;
    margin: auto;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #ffd500;
    border-radius: 12px;
}



@media only screen and (min-width: 600px){
    h1, h2{
        font-size: 6em;
    }

    h3{
        font-size: 1.75em;
        text-align: center;
    }

    p{
        font-size: 1.45em;
        text-align: center;
    }

    img{
        width: 190px;
    }

    .dealed{
        margin-left: 50px;
        margin-right: 50px;
    }

    .back{
        top: 135px;
        left: 44px;
    }

    #startgame, #homerules, #hit, #stand, #newmatch{
        font-size: 1.55em;
        margin: 15px;
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #game, #score, #actions, #gamecontrol{
        margin: auto;
        margin-bottom: 20px;
        width: max-content;
    }

    #game, .finalscore{
        margin-top: 26px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .finalscore{
        justify-self: center;
        align-items: center;
        margin-top: 0;
    }

    #gamecontrol{
        margin-top: 25px;
    }


    /* RULES OVERLAY */
    #overlay article{
        width: 650px;
        height: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    #overlay article > h3{
        font-size: 3em;
    }

    #overlay article > p, ul li{
        font-size: 1.25em;
    }
}