body{
    background-color: #99d9ea;
    width: 1200px;
    height: 645px;
    font-family: Montserrat;
}

h1{
    font-family: Merriweather;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 45px;
}

#cloud1{
    background-image: url(images/cloud-1.svg);
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 800px;
}

#cloud2{
    background-image: url(images/cloud-2.svg);
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    position: absolute;
    top: 250px;
    left: 10px;
}

#cloud3{
    background-image: url(images/cloud-3.svg);
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    position: absolute;
    top: 550px;
    right: 100px;
}



/*Form Styling*/
#myform{
    display: flex;
    justify-content: center;
    gap: 95px;
    color: #fff;
    margin-top: 105px;
    font-weight: 600;
}

.sign{
    background-color: #5b2b0b;
    padding: 45px;
    z-index: 1;
    border-radius: 8px;
}


input, label{
    display: block;
}

input[type="text"]{
    margin-top: 0.5em;
    margin-bottom: 2em;
}

input[type="text"]:focus {
    border:1px solid #D6D9DC;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="submit"]{
    margin: auto;
    margin-top: 3em;
    font-size: 1.25em;
    font-weight: 700;
    padding: 16px;
    font-family: Merriweather;
}

#pole1, #pole2{
    background-image: url(images/pole.svg);
    background-repeat: no-repeat;
    width: 70px;
    height: 710px;
    position: absolute;
}

#pole1{
    top: 45px;
    left: 235px;
}

#pole2{
    top: 45px;
    right: 210px;
}



/* Overlay Styling */
.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay{
    position: absolute;
    background-color: rgba(166, 228, 254, 0.571);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    z-index: 2;
}

#overlay article{
    box-sizing: border-box;
    border: solid 5px #fff;
    border-radius: 50px;
    padding: 32px;
    padding-left: 45px;
    padding-right: 45px;
    line-height: 1.5em;
    width: 70vw;
    height: 60vh;
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#green-sign{
    background-color: #01950e;
    width: 72vw;
    height: 62vh;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.close{
    display: block;
    margin: auto;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px;
}

#scafholding{
    background-image: url(images/scafholding.svg);
    background-repeat: repeat-x;
    height: 250px;
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}